
#homepage-admin-header {
    height: 150px;
    background-color: #F5AE85;
    text-align: center;
    line-height: 150px;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
}

.Homepage-Admin-Products-Orders-Plus {
    display: inline-block;
    font-family: Helvetica;
    font-size: 30px;
    font-weight:bolder;
    cursor: pointer;
}

.Homepage-Admin-Products-Orders-Plus:hover {
    color: #EB6E00;
}

#homepage-admin-number-of-products-container {
    position: relative;
    height: 50px;
}

#homepage-admin-number-of-products {
    position: absolute;
    right: 25%;
    font-family: Helvetica;
    font-size: 20px;
}

.Homepage-Admin-Scrollbox-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Homepage-Admin-Scrollbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    padding: 10px;
    height: 550px;
    overflow-y: scroll;
}


#homepage-admin-button-1{
    left: 70%;
    right: 30%;
    width: 220px;
    font-family: Helvetica;
    font-weight: bold;
}

.Homepage-Admin-Radiobuttons {
    font-weight: bold;
    font-family: Helvetica;
    transform: scale(1.4);    
}

#homepage-admin-radiobuttons-container{
    position: relative;
    height: 25px;
}

#homepage-admin-radiobutton-1 {
    position: absolute;
    left:38%;
    right:62%;
    width:300px;

}
#homepage-admin-radiobutton-2 {
    position: absolute;
    left:55%;
    right:45%;
    width:300px;
}

