.rpc-text-wrapper {
    position: relative;
    height: 45px;
}

#rpc-devider-1 {
    height: 25px;
}

#rpc-devider-1::before {
    content: "";
    width: 90%;
    height: 1px;
    background: #E5E5E5;
    position: absolute;
    left: 5%;
}

.rpc-text {
    position: absolute;
    left: 10%;
}

#rpc-login-link {
    cursor: pointer;
    transition-duration: 0.2s;
}

#rpc-login-link:hover {
    color: #EB6E00;
}