#contact-us-window {
  height: 150px;
  background-color: #F5AE85;
  text-align: center;
  line-height: 150px;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
}
#contact-us-content:after{
  content: "";
  display: table;
  clear: both;
}
#contact-us-content1 ,#contact-us-content2 {
  float: left;
  width: 50%;
  padding: 15px;

}
@media screen and (max-width: 1000px) {
  #contact-us-content {
    width: 100%;
  }
}
#contact-us-content1{
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
#contact-us-content2{
  font-family: Helvetica;
  background: #C4C4C4;
  border: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
  font-size:120%;
  height:391px;
}

#contact-us-button-div{
  margin-top: 10px;
  text-align: center;
}
