#deliverydispatch-window {
  height: 150px;
  background-color: #F5AE85;
  text-align: center;
  line-height: 150px;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
}
#deliverydispatch-text {
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
}
