#edit-profile-head {
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 4%;
  margin-right: 4%;
  border-bottom: 1px solid #A9A9A9;
}

#edit-profile-content{
  margin-left: 4%;
  margin-right: 4%;
}
