#view-product-info {
  font-family:Helvetica;
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
}
#add-to-cart{
  font-family:Helvetica;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #292929;

}
