#checkout-payment-head {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 4%;
  font-family: Helvetica;
}

#checkout-payment-content{
  font-family: Helvetica;
  margin-left: 4%;
  margin-right: 4%;
}
#payment-radio{
  font-family: Helvetica;
  margin-bottom: 1%;
  margin-left: 40%;
}
