#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#signup-text-background::before {
    content: "";
    width: 90%;
    height: 1px;
    background: black;
    position: absolute;
    left: 5%;
}

#signup-text-background {
    position: relative;
    height: 40px;
    background-color:#b3b3b3;
} 
  
#signup-text {
    position: absolute;
    top: 10px;
    left:200px;
}

#email-input-background {
    position: relative;
    height: 35px;
    background-color:#b3b3b3;
}

#support-details{
  position: absolute;
  right: 150px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

#social-media-links-background {
  text-align: center;
  background-color: #b3b3b3;
}

#copyright-background {
  background-color: #b3b3b3;
  text-align: center;
  font-size: 10px;
}