
#ae-product-header-title {
    position: absolute;
    left: 10%;
}

.ae-product-input-container {
    padding-left:300px;
}

.ae-product-input-container-2 {
    padding-bottom: 25px;
}

.ae-product-input-title {
    font-weight: bold;
}

.ae-product-dragger-inner {
    height: 500px;
    width: 500px; 
    padding:25%;
}