.clearfix {
    overflow: auto;
}

.flex {
    display: flex !important;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.w-100 {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
.text-bold {
    font-weight: bold;
}

.font-sm {
    font-size: $font-sm;
}

.font-xs {
    font-size: $font-xs;
}

.un-active-link {
color: $black;
&:hover {
    color: $gray;
}
&.active {
    color: $gray;
    font-weight: 600;
}
}
.display-flex{
display: flex;
}


.mobile {
display: none !important;
@include res(xs) {
    display: inherit !important;
}
}

.desktop {
display: none !important;
@include res(sm) {
    display: inherit !important;
}
}

.bordered {
border: 1px solid $border-color;
border-radius: 4px;
}

.full-vh {
height: 100vh;
}
