.emailrequest-text-wrapper {
    position: relative;
    height: 45px;
}

#emailrequest-devider-1 {
    height: 25px;
}

#emailrequest-devider-1::before {
    content: "";
    width: 90%;
    height: 1px;
    background: #E5E5E5;
    position: absolute;
    left: 5%;
}

.emailrequest-text {
    position: absolute;
    left: 10%;
}