.homepage-carousel-button {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 200%);
    width: 300px;
    z-index: 2; 
}

.homepage-carousel-background {
    position: relative;
    height: 300px;
    background: #F5AE85;
}

.homepage-carousel-text {
    position: absolute;
    color:black;
    left: 12%;
    right: 88%;
    top: 20%;
    font-size: 40px;
    font-weight: bold;
}

.homepage-carousel-image {
    position: absolute;
    left: 62%;
    right: 38%;
    top: 0%;
    height: 400px;
    width: 700px;
}