#processed-orders-header {
    height: 150px;
    background-color: #F5AE85;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

#processed-orders-select-table {
    width: 50%; 
    text-align: left;
    margin-bottom: 20px; 
    margin-left: 1%;
}

.processed-orders-table-row>td {
    padding-bottom: 12px;
}

.processed-orders-view {
    cursor: pointer;
    transition-duration: 0.2s;
}

.processed-orders-view:hover {
    color: #EB6E00;
}